<!DOCTYPE html>
<html>

<head>

{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>


<body>

<h1>Product Page</h1>

</body>

</html>
<div class="product-gallery">

    <button class="prev" onclick="changeImage(-1)">
        ❮
    </button>


    <img id="mainImage"
    src="{{product.image.url}}"
    class="main-image">


    <button class="next" onclick="changeImage(1)">
        ❯
    </button>


    <div class="dots">

        <span onclick="setImage(0)">●</span>
        <span onclick="setImage(1)">●</span>
        <span onclick="setImage(2)">●</span>
        <span onclick="setImage(3)">●</span>

    </div>

</div>


<script>

let images = [

"{{product.image.url}}",

"/media/products/demo2.jpg",

"/media/products/demo3.jpg",

"/media/products/demo4.jpg"

];


let index = 0;


function changeImage(value){

    index += value;


    if(index >= images.length){

        index = 0;

    }


    if(index < 0){

        index = images.length-1;

    }


    document.getElementById("mainImage").src = images[index];

}



function setImage(i){

    index=i;

    document.getElementById("mainImage").src = images[index];

}


</script>